# General
.DS_Store
.AppleDouble
.LSOverride

# Xcode
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.usercontent
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xg
/UserSettings/

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/
Extensions/

# Other
*.moved-aside
*.xcuserstate
